@page "/my-account-page"
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IMyAccount MyAccount
@using System.Security.Claims
@using Client.MyAccount
@using Contracts.ApiContracts.UserAccountInfo.Requests
@using Contracts.ApiContracts.UserAccountInfo.Responses
@using Contracts.ApiContracts.UserGameRanks.RocketLeagueRank.Requests
@using Contracts.ApiContracts.UserGameRanks.RocketLeagueRank.Responses
@using Contracts.QueueContracts.RocketLeague
@using Contracts.QueueContracts.RocketLeague.Ranks

<PageTitle>My Account</PageTitle>
<MudGrid>
    <MudItem xs="12" sm="12" lg="6" Class="pa-10">
        <MudCard Elevation="10" Class="mx-auto pa-10 mt-10 rounded-xl">
            <MudStack>
                <MudText Class="my-5"><b><h2>Account</h2></b></MudText>
            </MudStack>
            <MudGrid>

                @if (myAccount is not null && myAccount.Name is not null)
                {
                    <MudItem xs="12" sm="3" Class="d-flex align-center justify-center flex-grow-1 gap-4">
                        <MudAvatar Style="width: 100px; height: 100px;" Color="Color.Primary"><MudText Class="mt-2" Typo="Typo.h2" Color="Color.Dark"><b>@myAccount?.Name[0].ToString()</b></MudText></MudAvatar>
                    </MudItem>
                    <MudItem xs="12" sm="9">
                        <MudText Typo="Typo.h3"><b>@myAccount?.Name</b></MudText>
                        <MudText Typo="Typo.body2"><b>@myAccount?.DiscordName</b></MudText>
                        <MudText Color="Color.Primary" Typo="Typo.body2"><b>@myAccount?.SteamProfileLink</b></MudText>
                    </MudItem>

                }
                else
                {
                    <MudItem xs="12" Class="d-flex align-center justify-center flex-grow-1 gap-4">
                        <MudText Align="Align.Center">There is no infromation provided about account. Please insert information below.</MudText>
                    </MudItem>
                }

            </MudGrid>
            <MudDivider DividerType="DividerType.Middle" Class="my-10" />
            <MudItem xs="12">
                <MudText Color="Color.Primary">Update account: </MudText>
                <MudForm Model="@updateAccountRequest" @ref="@form" Validation="@(loginValidator.ValidateValue)" ValidationDelay="0">
                    <MudCardContent>
                        <MudTextField @bind-Value="updateAccountRequest.Name"
                                      For="@(() => updateAccountRequest.Name)"
                                      Immediate="true"
                                      Label="User name"
                                      HelperText="Insert user name."
                                      Variant="Variant.Filled" />

                        <MudTextField @bind-Value="updateAccountRequest.DiscordName"
                                      For="@(() => updateAccountRequest.DiscordName)"
                                      Immediate="true"
                                      Label="Discord name"
                                      HelperText="Insert discord name."
                                      Variant="Variant.Filled" />

                        <MudTextField @bind-Value="updateAccountRequest.SteamProfileLink"
                                      For="@(() => updateAccountRequest.SteamProfileLink)"
                                      Immediate="true"
                                      Label="Steam profile link"
                                      HelperText="Insert link to steam profile"
                                      Variant="Variant.Filled" />
                    </MudCardContent>
                </MudForm>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await UpdateMyAccount())">UPDATE</MudButton>
                </MudCardActions>
            </MudItem>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="12" lg="6" Class="pa-10">
        <MudCard Elevation="10" Class="mx-auto pa-10 mt-10 rounded-xl">
            <MudItem xs="12" Class="pb-8">
                <MudText Color="Color.Dark" Typo="Typo.h2" Class="my-5"><b>ROCKET LEAGUE</b></MudText>
            </MudItem>

            <MudItem xs="12" Class="pb-8">
                <MudGrid>
                    @if (selectedRocketLeagueMode == "2VS2")
                    {
                        <MudItem xs="6" sm="6">
                            <MudButton FullWidth="true" Variant="Variant.Filled" Disabled="true" Class="ml-auto">2 vs 2</MudButton>
                        </MudItem>
                        <MudItem xs="6" sm="6">
                            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" OnClick="@(() =>  {selectedRocketLeagueMode = "3VS3"; UpdateSelection();})">3 vs 3</MudButton>
                        </MudItem>
                    }
                    @if (selectedRocketLeagueMode == "3VS3")
                    {
                        <MudItem xs="6" sm="6">
                            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" OnClick="@(() =>  {selectedRocketLeagueMode = "2VS2"; UpdateSelection();})">2 vs 2</MudButton>
                        </MudItem>
                        <MudItem xs="6" sm="6">
                            <MudButton FullWidth="true" Variant="Variant.Filled" Disabled="true" Class="ml-auto">3 vs 3</MudButton>
                        </MudItem>
                    }
                </MudGrid>
            </MudItem>

            <MudGrid>

                @if (currentSelectedRank is not null)
                {

                    <MudItem xs="12" sm="6">
                        <p>
                            Rank:
                        </p>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Style=" width: 100%; height: 60px;">
                            @switch (currentSelectedRank.Name)
                            {
                                case "BRONZE":
                                    <MudText>Bronze </MudText>
                                    break;
                                case "SILVER":
                                    <MudText>Silver </MudText>
                                    break;
                                case "GOLD":
                                    <MudText>Gold </MudText>
                                    break;
                                case "DIAMOND":
                                    <MudText>Diamond </MudText>
                                    break;
                                case "CHAMPION":
                                    <MudText>Champion </MudText>
                                    break;
                                case "GRANDCHAMPION":
                                    <MudText>Grand Champion </MudText>
                                    break;
                                case "SUPERSONICLEGEND":
                                    <MudText>Supersonic Legend </MudText>
                                    break;
                                default:
                                    break;
                            }
                            &nbsp;
                            @currentSelectedRank.Number.Replace("NONE", "")

                        </MudButton>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <p>Division:</p>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Style=" width: 100%; height: 60px;">
                            @currentSelectedRank.Division.Replace("NONE", "")
                        </MudButton>
                    </MudItem>


                }
                else
                {
                    <MudItem xs="12">
                        <MudText Align="Align.Center">There is no infromation provided about account. Please insert information below.</MudText>
                    </MudItem>

                }

            </MudGrid>
            <MudDivider DividerType="DividerType.Middle" Class="my-10" />
            <MudItem xs="12">
                <MudText Color="Color.Secondary">Update rank: </MudText>
                <MudSelect @bind-Value="updateRocketLeagueRankRequest.Name" Label="Select Your Rank" HelperText="ex. Silver" Placeholder="Please Select Rank Name" AdornmentIcon="@Icons.Material.Filled.BarChart" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("BRONZE")">Bronze</MudSelectItem>
                    <MudSelectItem Value="@("SILVER")">Silver</MudSelectItem>
                    <MudSelectItem Value="@("GOLD")">Gold</MudSelectItem>
                    <MudSelectItem Value="@("DIAMOND")">Diamond</MudSelectItem>
                    <MudSelectItem Value="@("CHAMPION")">Champion</MudSelectItem>
                    <MudSelectItem Value="@("GRANDCHAMPION")">Grand champion</MudSelectItem>
                    <MudSelectItem Value="@("SUPERSONICLEGEND")">Supersonic Legend</MudSelectItem>
                </MudSelect>
                @if (updateRocketLeagueRankRequest.Name != "SUPERSONICLEGEND")
                {
                <MudSelect @bind-Value="updateRocketLeagueRankRequest.Number" Label="Select Your Rank Number" HelperText="ex. I" Placeholder="Please Select Rank Name" AdornmentIcon="@Icons.Material.Filled.BarChart" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("I")">I</MudSelectItem>
                    <MudSelectItem Value="@("II")">II</MudSelectItem>
                    <MudSelectItem Value="@("III")">III</MudSelectItem>
                </MudSelect>
                <MudSelect @bind-Value="updateRocketLeagueRankRequest.Division" Label="Select Your Division" HelperText="ex. IV" Placeholder="Please Select Rank Name" AdornmentIcon="@Icons.Material.Filled.BarChart" AdornmentColor="Color.Secondary">   
                    <MudSelectItem Value="@("I")">I</MudSelectItem>
                    <MudSelectItem Value="@("II")">II</MudSelectItem>
                    <MudSelectItem Value="@("III")">III</MudSelectItem>
                    <MudSelectItem Value="@("IV")">IV</MudSelectItem>
                </MudSelect>
                }
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" OnClick="@(async () => await UpdateRocketLeagueRank())">UPDATE</MudButton>
                </MudCardActions>
            </MudItem>
        </MudCard>
    </MudItem>
</MudGrid>

@code {


    MudForm form;
    UserAccountModelFluentValidator loginValidator = new();

    GetUserAccountInfoResponse? myAccount;
    UpdateUserAccountInfoRequest updateAccountRequest = new();

    UpdateRocketLeagueRankRequest updateRocketLeagueRankRequest
    = new("2VS2", "BRONZE", "I", "I");

    GetRocketLeagueRankResponse? getRocketLeagueRankResponse;

    string selectedRocketLeagueMode = "2VS2";
    RocketLeagueRankDto? currentSelectedRank;

    bool disableRankUpdate = true;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }



    public class UserAccountModelFluentValidator : AbstractValidator<UpdateUserAccountInfoRequest>
    {
        public UserAccountModelFluentValidator()
        {
            RuleFor(x => x.DiscordName)
                .Matches(@"^[a-zA-Z0-9]{2,32}$")
                .WithMessage("Please enter correct email address");

            RuleFor(x => x.Name)
            .Matches(@"^[a-zA-Z0-9_.+-]{4,25}$")
            .WithMessage("Please enter correct email address");

            RuleFor(x => x.SteamProfileLink)
                .Matches(@"^https:\/\/steamcommunity\.com\/id\/[a-zA-Z0-9]+\/?$")
                .WithMessage("Please enter correct steam user profile link");

        }


        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(
                ValidationContext<UpdateUserAccountInfoRequest>
                .CreateWithOptions((UpdateUserAccountInfoRequest)model,
                x => x.IncludeProperties(propertyName)));

            if (result.IsValid)
                return Array.Empty<string>();
            return result.Errors.Select(e => e.ErrorMessage);
        };

    }

    private async Task UpdateMyAccount()
    {
        var updateAccountResponse = await MyAccount.UpdateUserAccountInfo(updateAccountRequest);

        if (updateAccountResponse is null)
            return;

        myAccount = new GetUserAccountInfoResponse(
            updateAccountResponse.Name,
            updateAccountResponse.SteamProfileLink,
            updateAccountResponse.DiscordName
        );

        updateAccountRequest = new();
    }

    private void UpdateSelection()
    {
        updateRocketLeagueRankRequest.Mode = selectedRocketLeagueMode;
        switch (selectedRocketLeagueMode)
        {
            case "2VS2":
                currentSelectedRank = getRocketLeagueRankResponse.Rank2vs2;
                break;
            case "3VS3":
                currentSelectedRank = getRocketLeagueRankResponse.Rank3vs3;
                break;
        }


    }

    private async Task UpdateRocketLeagueRank()
    {
        if (updateRocketLeagueRankRequest.Name == "SUPERSONICLEGEND")
        {
            updateRocketLeagueRankRequest.Number = "NONE";
            updateRocketLeagueRankRequest.Division = "NONE";
        }

        var response = await MyAccount.UpdateRocketLeagueRank(updateRocketLeagueRankRequest);

        if (response is null)
            return;

        var newRank = new RocketLeagueRankDto(response.Name, response.Number, response.Division);
        switch (selectedRocketLeagueMode)
        {
            case "2VS2":
                getRocketLeagueRankResponse.Rank2vs2 = newRank;
                break;
            case "3VS3":
                getRocketLeagueRankResponse.Rank3vs3 = newRank;
                break;
        }

        if (updateRocketLeagueRankRequest.Number == "NONE")
            updateRocketLeagueRankRequest.Number = "I";
        if (updateRocketLeagueRankRequest.Division == "NONE")
            updateRocketLeagueRankRequest.Division = "I";

        UpdateSelection();

    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        myAccount = await MyAccount.GetUserAccountInfo();
        getRocketLeagueRankResponse = await MyAccount.GetRocketLeagueRank();

        currentSelectedRank = getRocketLeagueRankResponse.Rank2vs2;

        if (!authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }


    }


}
